.home-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: crimson;
    background-image: url("./images/home-bg.jpg");
    background-position: center;
    background-size: cover;
}

.home-page__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.4);
}